body {
  margin: 0;
}

/* Header of the page */

header {
    height: 94px;
    background: #fff;
    border: 1px solid black;
    position: relative;
    /* box-shadow: -1px 1px 20px 0px black; */
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.471);
    z-index: 10;
}
  
header > img {
    position: relative;
    left: 61px;
}
  
header > nav {
    position: absolute;
    right: 20px;
    top: 10px;
}

header > h1 {
  position: absolute;
  margin-left: 46%;
  margin-right: 54%;
  top: 10px;
  font-family: Lateef;
}

  
#notify{
  height: 40px;
  width: 40px;
  margin-right: 50px;
  margin-top: 10px;
}

/*  Logout button */

#lout {
  background-color:rgb(239, 86, 69);
  color: whitesmoke;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-family: Lateef;
  float: right;
  margin-top: 10px;
}

#lout:hover, #lout:focus {
  background-color: #e61818;
}

/* End of Logout button */

#prof {
  height: 70px;
  width: 70px;
  float: right;
  margin-left: 30px;
  margin-top: -15px;
}

main {
  min-height: 35em;
}

/* Heading of the page */

#top {
  height: 80px;
  width: 100%;
  margin: 0;
  float: right;
  color: white;
  background: #323030;
  /* background-image: linear-gradient(to right, whitesmoke, rgb(234, 217, 123), gold, rgb(234, 217, 123), whitesmoke); */
  border: 1px solid black;
  text-align: center;
}

/* Vertical Navigation Menu */

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  float: left;
  height: 450px;
  background-image: linear-gradient( to bottom right, grey,#323030, #323030, #323030, grey);
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-family: lateef;
  font-size: larger;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.393);
}

.nav-menu > li a {
  display: block;
  color: white;
  padding: 20px 10px;
  text-decoration: none;
  font-family: Lateef;
  border: 1px solid gold;
  background-image: linear-gradient( to bottom right, grey,#323030, #323030, #323030, grey);
  /* background-image: linear-gradient( to bottom right, gold, rgb(238, 218, 109), rgb(238, 222, 135), whitesmoke, whitesmoke); */
}

.nav-menu > li a:hover {
  background-image: linear-gradient(to bottom right, whitesmoke, rgb(238, 218, 109), goldenrod, goldenrod, rgb(238, 218, 109), whitesmoke);
  color: white;
}

/* End of the Vertical Navigation Menu */

/* Content */

.content {
  float: right;
  width: 82%;
}

.box {
  float: left;
  width: 24%;
  margin: 100px 0px 50px 50px;
  text-align: center;
  transition: transform .5s, background 1s linear;
  background-color: #323030;
  color: white;
  border-radius: 50px;
}

.box:hover {
  box-shadow: 0px 0px 10px 10px gold;
  transform: scale(1.18); 
}

.box > img {
  height: 150px;
  width: 150px;
  margin-top: 10px;
}

.box > h2 {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* End of the content */



/* Vendor services page */

/* Service Table */

.services-tbl td{
  border: 2px solid black;
  height: 30px;
  padding: 2px 5px 2px 5px;
  text-align: center;
}

.services-tbl th{
  border: 2px solid black;
  height: 30px;
  padding: 5px 10px 5px 10px;
  background-color: azure;
}

.services-tbl {
  border-collapse: collapse;
  float: left;
  width: 90%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.services-tbl button {
  padding: 3px 5px 3px 5px;
  font-weight: bold;
}

#act {
  width: 110px;
}

#update {
  background-color: greenyellow;
  margin-right: 5px;
  float: inline-start;
}

#delete {
  background-color: red;
  float: inline-end;
}


/* Styles for the popup button */
#addService {
  margin-top: 30px;
  margin-right: 10%;
  font-weight: bold;
  float: right;
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#addService:hover {
  box-shadow: 0px 0px 1px 1px black;
  transform: scale(1.01); 
}

/* Styles for the popup container */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.editPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* Styles for the popup content */
.popup-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 30%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#dd {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 30%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.popup-content h2 {
  text-align: center;
}

.popup-content label {
  font-weight: bold;
  margin-left: 30px;
  font-size: 18px;
}

.popup-content input, textarea{
  margin-left: 30px;
  width: 80%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}

#create {
  display: block;
  margin: auto;
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#create:hover {
  box-shadow: 0px 0px 1px 1px black;
  transform: scale(1.01); 
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* End of vendor services page */


/* footer section */

footer > div {
  height: 310px;
  flex-shrink: 0;

  border-radius: 40px 40px 0px 0px;
  /* background: #bbdff4; */
  background: #323030;
  margin-top: 25px;
}
  
footer > div > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > div > div > img:nth-child(1) {
  margin-top: 33px;
}

footer > div > div > img:nth-child(2) {
  margin-left: 300px;
  margin-top: 57px;
}

footer > div > div ul {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin-top: 70px;
  margin-left: -100px;
}

footer > div > div > ul:nth-child(3) {
  padding-right: 65px;
}
footer > div > div > ul li {
  list-style: none;

  cursor: pointer;
  font-size: 16px;

  color: #ffffff;
  font-family: saunion-serif, Georgia, Times New Roman, Times, serifns-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer > div > h3 {
  color: #f5eded;
  font-family: Lato;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-transform: uppercase;
}

footer > div {
  position: relative;
}

footer > div > h3:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  left: 69%;
  margin-top: 40px;
}

footer > div > h3:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
  left: 85%;
  margin-top: 40px;
}

footer > div > p:nth-child(4) {
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.2px;
  opacity: 0.6;
  margin: auto;
  position: relative;

  display: inline-block;
  margin-left: 23%;
  margin-top: 2%;
}
