.details-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

.details-section .details-section-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.details-section .details-section-content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.detail-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.detail-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.detail-container p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
}

.edit-details {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.edit-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.edit-details p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.edit-details .edit-details-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.edit-details .edit-details-content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #60ed32;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.submit:hover {
  background-color: #4bdf2a;
}

.submit .submit-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4bdf2a;
}

.submit .submit-content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.submit .submit-content p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
