* {
    margin: 0;
    padding: 0;
  }
  
  header {
    height: 94px;
    background: #fff;
    border: 1px solid black;
    position: relative;
    /* box-shadow: -1px 1px 20px 0px black; */
    box-shadow: -20px -12px 20px 20px black;
    z-index: 10;
  }

  header > img {
    position: relative;
    left: 61px;
  }
  
  header > nav {
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  header > nav > ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding-left: 50px;
    color: #000;
    font-family: Lateef;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 24px;
    right: 20px;
  }
  
  header > nav > ul li:hover {
    color: #974444;
  }
    
  h1 {
    text-align: center;
    -webkit-text-fill-color: #000000;
    
 }

 h2 {
    -webkit-text-fill-color: #974444; 
 }

 .about_us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffcaca;
 }

  

footer > div {
    height: 310px;
    flex-shrink: 0;
  
    border-radius: 40px 40px 0px 0px;
    /* background: #bbdff4; */
    background: #323030;
    margin-top: 25px;
  }
  
  footer > div > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer > div > div > img:nth-child(1) {
    margin-top: 33px;
  }
  
  footer > div > div > img:nth-child(2) {
    margin-left: 300px;
    margin-top: 57px;
  }
  
  footer > div > div ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-top: 70px;
    margin-left: -100px;
  }
  
  footer > div > div > ul:nth-child(3) {
    padding-right: 65px;
  }
  footer > div > div > ul li {
    list-style: none;
  
    cursor: pointer;
    font-size: 16px;
  
    color: #ffffff;
    font-family: saunion-serif, Georgia, Times New Roman, Times, serifns-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  footer > div > h3 {
    color: #f5eded;
    font-family: Lato;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    text-transform: uppercase;
  }
  
  footer > div {
    position: relative;
  }
  
  footer > div > h3:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    left: 69%;
    margin-top: 40px;
  }
  
  footer > div > h3:nth-child(3) {
    position: absolute;
    right: 0;
    top: 0;
    left: 85%;
    margin-top: 40px;
  }
  
  footer > div > p:nth-child(4) {
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.2px;
    opacity: 0.6;
    margin: auto;
    position: relative;
  
    display: inline-block;
    margin-left: 23%;
    margin-top: 2%;
  }
  