@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --clr1: rgb(21, 12, 104);
    --clr2: rgb(236, 68, 90);
    --clr3: #fff;
    --clr4: #000;
    --clr5: lightgray;
    --clr6: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'PT Sans', sans-serif;
    border: none;
}

html{
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: var(--clr1);
}


* {
    margin: 0;
    padding: 0;
  }
  
  header {
    height: 94px;
    background: #fff;
    border: 1px solid black;
    position: relative;
    /* box-shadow: -1px 1px 20px 0px black; */
    box-shadow: -20px -12px 20px 20px black;
    z-index: 10;
  }
  
  header > img {
    position: relative;
    left: 61px;
  }
  
  header > nav {
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  header > nav > ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding-left: 50px;
    color: #000;
    font-family: Lateef;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 24px;
    right: 20px;
  }
  
  header > nav > ul li:hover {
    color: #974444;
  }
  
  /* end of the header */


  

.vendor-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.vendor .vendor-row{
    max-width: 250px;
    background: #fff;
    height: 35rem;
    flex: 1 1 30rem;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem var(--clr2);
}
.vendor-row:hover{
    transform: rotate(5deg);
    transition: 1s cubic-bezier(0.075,0.82,0.165,1);

}

.vendor .vendor-row img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.vendor-row{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.vendor-row p{
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--clr4);
    height: 19rem;
    margin-top: 20px;
    padding: 0 5px 0 5px;

}

.vendor-row h3{
    font-size: 2rem;
    color: gold;
    background: var(--clr4);
}

#type {
  margin-top: 10px;
  font-size: 2.6rem;
}

#name {
  margin-bottom: 10px;
}

.title {
    
    color: #560909;
    font-family: saunion-serif, Georgia, Times New Roman, Times, serifns-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    text-align: center;
  }

.btn{
  width: 100px;
  background: #00bcd4;   
  padding: 10px;
  align-items: center;
  border-radius: 08%;

}



  /* footer section */
  
  footer > div {
    height: 310px;
    flex-shrink: 0;
  
    border-radius: 40px 40px 0px 0px;
    /* background: #bbdff4; */
    background: #323030;
    margin-top: 25px;
  }
  
  footer > div > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer > div > div > img:nth-child(1) {
    margin-top: 33px;
  }
  
  footer > div > div > img:nth-child(2) {
    margin-left: 300px;
    margin-top: 57px;
  }
  
  footer > div > div ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-top: 70px;
    margin-left: -100px;
  }
  
  footer > div > div > ul:nth-child(3) {
    padding-right: 65px;
  }
  footer > div > div > ul li {
    list-style: none;
  
    cursor: pointer;
    font-size: 16px;
  
    color: #ffffff;
    font-family: saunion-serif, Georgia, Times New Roman, Times, serifns-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  footer > div > h3 {
    color: #f5eded;
    font-family: Lato;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    text-transform: uppercase;
  }
  
  footer > div {
    position: relative;
  }
  
  footer > div > h3:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    left: 69%;
    margin-top: 40px;
  }
  
  footer > div > h3:nth-child(3) {
    position: absolute;
    right: 0;
    top: 0;
    left: 85%;
    margin-top: 40px;
  }
  
  footer > div > p:nth-child(4) {
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.2px;
    opacity: 0.6;
    margin: auto;
    position: relative;
  
    display: inline-block;
    margin-left: 23%;
    margin-top: 2%;
  }
  